<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Recipes Website</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body class="bg">
<header>
    {% include 'navbar.html' %}
</header>

<main>
    <article>
        <section class="splash">
            <img src="{{ url_for('static', filename = 'images/image-pancake.jpg') }}" alt="Pancake" style="width:1550px;height:500px" class="dim">
            <p style="position: absolute; font-size: 20px;top: 20%; left: 37%">Welcome to Recipes Web App</p>
        </section>

        <section>
            <h2 class="title-decor">About Our Recipe Collection</h2>
            <p class="about-info">Our web application provides a comprehensive collection of recipes for all tastes and occasions. Whether you're looking for quick weekday meals,
            special occasion dishes, or international cuisine, we've got you covered!</p>

        </section>
    </article>
</main>
</body>
</html>



